@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff2") format("woff2"),
  src: url("../fonts/roboto.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Robotobold";
  src: url("../fonts/robotobold.woff2") format("woff2"),
  src: url("../fonts/robotobold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
