:root{
  --basic-white: #ffffff;
  --basic-black: #323232;
  --basic-grey: #5A5A5A;
  --medium-white: rgba(255, 255, 255, 0.8);
  --light-white: rgba(255, 255, 255, 0.2);
  --basic-blue: #8996A6;
  --basic-green: #849D8F;
  --basic-pink: #9D8B84;
  --gradient-start-red: #F26843;
  --gradient-stop-red:#E74A35;
  --background-pop-up: #F8F7F4;
  --background-active: #FBDED7;
  --background-hover-sort: #1E90FF;
}
body{
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-white);
  background-color: var(--basic-pink);
}
img {
  max-width: 100%;
  height: auto;
}
.page{
  height: 100%;
}
.page-body{
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}
.main-navigation{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.main-navigation-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.container{
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}
/*Навигация в шапке*/
.site-navigation{
  display: flex;
  flex-direction: row;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  color: var(--basic-white);
}
.site-navigation li{
  padding-right: 10px;
}
.site-navigation,
.new-items,
.assortment-menu{
  list-style: none;
}
.user-navigation{
  display: flex;
  flex-direction: row;
  font-size: 14px;
  line-height: 16px;
}
/*Поведение ссылок*/
.site-navigation a,
.user-navigation a {
  color: var(--basic-white);
  padding-right: 10px;
}

.user-navigation a:hover,
.user-navigation a:focus,
.site-navigation a:hover,
.site-navigation a:focus {
  background-color: var(--basic-white);
  color: var(--basic-black);
}
.assortment-menu a,
.new-items a{
  background-color: var(--basic-white);
  color: var(--basic-black);
  text-decoration: none;
}
.assortment-menu a:hover,
.assortment-menu a:focus,
.new-items a:hover,
.new-items a:focus{
  background-color: var(--background-active);
}
/*Временно скрыть формы*/
.pop-up{
  display: none;
}
.visually-hidden{
  display: none;
}
/*Тело главной*/
.promo-banner{
  list-style: none;
}
.promo-item{
  font-size: 60px;
  line-height: 60px;
  font-weight: bold;
}
.promo-banner button{
  font-size: 32px;
  line-height: 44px;
  background-color: var(--gradient-start-red);
}
.article-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.raspberry{
  background-image:url("../img/rasp-back.jpg");
  background-color: var(--basic-pink);
  background-repeat: no-repeat;
  background-size: cover;
}
.choko{
  background-image:url("../img/choko-back.jpg");
  background-color: var(--basic-pink);
  background-repeat: no-repeat;
  background-size: cover;
}
.gift, .blog, .mailing{
  flex-grow: 1;
  height: 220px;
}
.gift h2{
  font-size: 35px;
  line-height: 41px;
}
.gift p{
  font-size: 18px;
  line-height: 22px;
}
.gift button{
  font-size: 18px;
  line-height: 24px;
  background-color: var(--gradient-start-red);
}
.hits-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}
.hits-wrapper li{
  width: 267px;
}
.assortment{
  list-style: none;
}
.hits a,
.assortment a{
  color: var(--basic-white);
  font-size: 16px;
  line-height: 22px;
}
.hit-price, .price-item{
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
}
.kg{
  font-size: 30px;
  line-height: 35px;
  font-weight: bold;
}
.about-us{
  background-image: url("../img/wafer-pattern.jpg");
  background-repeat: repeat;
  background-color: var(--background-active);
  color: var(--basic-black);
  line-height: 22px;
}
.about{
  font-size: 24px;
  line-height: 30px;
}
.about-wrapper{
  display: grid;
  grid-template-columns: repeat(2, 50%);
}
.blog{
  background-image: url("../img/straw-back.jpg");
  background-repeat: no-repeat;
  background-color: var(--basic-white);
  color: var(--basic-black);
}
.blog a{
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: var(--basic-black);
}
.blog h2{
  font-size: 16px;
  line-height: 22px;
}
.mailing{
  background-image: url("../img/post-back.jpg");
  background-repeat: no-repeat;
  background-color: var(--basic-white);
  color: var(--basic-grey);
  line-height: 22px;
}
.mailing-wrapper{
  width: 548px;
  height: 210px;
  background-color: var(--background-pop-up);
  margin: 5px 6px;
}
.mailing button{
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  background-color: var(--gradient-start-red);
}
.address{
  background-color: var(--basic-white);
  color: var(--basic-black);
  font-size: 14px;
  line-height: 20px;
}
.address-important{
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: var(--basic-black);
  text-decoration: none;
}
.address button{
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  background-color: var(--gradient-start-red);
}
.main-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.social-button{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}
.social-button a{
    padding-right: 10px;
    color: var(--basic-white);
    text-decoration: none;
}
.info-wrapper{
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.info-wrapper a{
    text-decoration: none;
    color: var(--basic-white);
    font-size: 13px;
    line-height: 18px;
}
.suppliers{
  font-weight: bold;
}
.copyright{
  font-size: 12px;
  line-height: 18px;
}
.copyright a{
  color: var(--basic-white);
}
/*Стилизация каталога*/
.bread-crumbs{
  list-style: none;
}
.bread-crumbs a{
  text-decoration: none;
  color: var(--basic-white);
  font-size: 14px;
  line-height: 16px;
}
.contact{
  color: var(--basic-white);
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
}
.contact a{
  font-size: 22px;
  line-height: 24px;
  text-decoration: none;
  color: var(--basic-white);
}
.filters{
  font-size: 14px;
  line-height: 16px;
}
.filter{
  background-color: var(--medium-white);
}

.crumbs-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.crumbs-container{
  display: flex;
  flex-direction: column;
}
.bread-crumbs{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  padding: 0;
}
.bread-crumbs-catalog{
  grid-template-columns: repeat(5, 10px);
}
.bread-crumbs li{
  padding-right: 10px;
}
.assortment{
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
  margin-top: 40px;
  justify-content: space-between;
}
.assortment > li{
  width: 267px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bread-crumbs-catalog{
  justify-content: flex-end;
}
